@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #334;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  @media (min-resolution: 40dpi),
    (-webkit-min-device-pixel-ratio: 1) {
    body {
      background-image: url('../assets/photo-dunes-640-480.jpeg');
    }
  }

  @media (min-resolution: 72dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    body {
      background-image: url('../assets/photo-dunes-800-600.jpeg');
    }
  }

  @media (min-resolution: 85dpi),
    (-webkit-min-device-pixel-ratio: 3) {
    body {
      background-image: url('../assets/photo-dunes-1280-1024.jpeg');
    }
  }

  .title-text {
    color: black;
    margin-bottom: 1%;
  }

  .text {
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    margin: 1em;
  }

  .quote-button-text {
    font-family: 'Lato', sans-serif;
  }

  #quote-box {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    padding: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .button-container {
    margin-top: auto;
    display: flex;
  }

  .button {
    display: flex;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    opacity: 1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  @media (hover: hover) {
    .button:hover {
      opacity: 0.9;
    }
  }

  .social-button {
    margin: 1em;
  }

  .quote-button {
    margin: 1em;
    margin-left: auto;
  }
