* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10%;
  display: grid;
  justify-items: center;
  grid-template-rows: 10% 20% 60% 10%;
}

h1 {
  grid-row: 1;
  padding: 20px;
}

.break_session {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid green;
  padding: 20px;
}

.timer {
  grid-row: 3;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.controls {
  grid-row: 4;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.length_buttons {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.pomodoro-text {
  font-size: larger;
  padding: 10px;
}
